<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jared Ledvina">
    <link rel="icon" href="favicon.ico">

    <title>SAT4600 Course Project</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/main/">SAT4600 Project</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="/main/news/">Today's News</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Database Access <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/main/products/">View Products</a></li>
                            <li><a href="/main/employee/">Find Employee</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Reporting<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/main/reports/">Classic Models Report</a></li>
                            <li><a href="/main/reports/">Other Reports</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Web Access <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Currency Conversion</a></li>
                            <li><a href="#">Stock Quote</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Extra<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/main/webapp/">Extra</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/get_employeeid/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-default" value="Submit" />
        </form>


<form action="" method="get">
  <div class="form-group">
    <label for="employeeid">Employee ID</label>
    <input type="text" class="form-control" id="employeeid" value="{{ current_employeeid }}">
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" placeholder="John">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Smith">
  </div>
  <div class="form-group">
    <label for="extension">Phone Extension</label>
    <input type="text" class="form-control" id="extension" placeholder="906">
  </div>
  <div class="form-group">
    <label for="emailaddress">Email Address</label>
    <input type="text" class="form-control" id="emailaddress" placeholder="john@smith.com">
  </div>
  <div class="form-group">
    <label for="jobtitle">Job Title</label>
    <input type="text" class="form-control" id="jobtitle" placeholder="CEO">
  </div>
  </form>
</div>
</div>
</body>
</html>


